@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Montserrat:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  height: 500px;
  width: 400px;

  background: #1e252b;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  align-items: center;
  background: #262d34;
}

.menu-nav {
  display: flex;
  gap: 5px;
  padding: 0 5px 0 5px;
  align-items: center;
}

h1 {
  color: #ffff;
}

#logo {
  border-radius: 50%;
}

.toggle-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/*-----------------------Toggle------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Cache l'input */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style du slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #ff6934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff6934;
}
input:checked + .slider:before {
  transform: translateX(16px);
}
/*-----------------------------------------------------*/
